name: Release

on:
  release:
    types:
      - published

permissions: {}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.1.7

      - name: Set up Python
        uses: actions/setup-python@v5.1.1
        with:
          python-version: "3.11"

      - name: Install poetry
        run: pipx install poetry

      - name: Set version number
        run: poetry version "${{ github.event.release.tag_name }}"

      - name: Package
        run: poetry build

      - name: Upload dists
        uses: actions/upload-artifact@v4.3.6
        with:
          name: "dist"
          path: "dist/"
          if-no-files-found: error
          retention-days: 3

  publish:
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: release
      url: https://pypi.org/p/pytraccar
    permissions:
      attestations: write
      contents: write
      id-token: write
    steps:
      - name: Download dists
        uses: actions/download-artifact@v4.1.8
        with:
          name: "dist"
          path: "dist/"

      - name: Publish dists to PyPI
        uses: pypa/gh-action-pypi-publish@8a08d616893759ef8e1aa1f2785787c0b97e20d6 # v1.10.0

      - name: Attest
        uses: actions/attest-build-provenance@310b0a4a3b0b78ef57ecda988ee04b132db73ef8 #v1.4.1
        with:
          subject-path: dist/*

      - name: Upload release assets
        uses: softprops/action-gh-release@c062e08bd532815e2082a85e87e3ef29c3e6d191 # v2.0.8
        with:
          files: dist/*
