name: Release

on:
  release:
    types:
      - published

permissions: {}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.2.2

      - name: Set up Python
        uses: actions/setup-python@v5.3.0
        with:
          python-version: "3.13"

      - name: Install poetry
        run: pipx install poetry

      - name: Set version number
        run: poetry version "${{ github.event.release.tag_name }}"

      - name: Package
        run: poetry build

      - name: Upload dists
        uses: actions/upload-artifact@v4.5.0
        with:
          name: "dist"
          path: "dist/"
          if-no-files-found: error
          retention-days: 3

  publish:
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: release
      url: https://pypi.org/p/pytraccar
    permissions:
      attestations: write
      contents: write
      id-token: write
    steps:
      - name: Download dists
        uses: actions/download-artifact@v4.1.8
        with:
          name: "dist"
          path: "dist/"

      - name: Publish dists to PyPI
        uses: pypa/gh-action-pypi-publish@76f52bc884231f62b9a034ebfe128415bbaabdfc # v1.12.4

      - name: Attest
        uses: actions/attest-build-provenance@520d128f165991a6c774bcb264f323e3d70747f4 #v2.2.0
        with:
          subject-path: dist/*

      - name: Upload release assets
        uses: softprops/action-gh-release@7b4da11513bf3f43f9999e90eabced41ab8bb048 # v2.2.0
        with:
          files: dist/*
